.banner {

    /* UI Properties */
    height: 450px;
    opacity: 1;
    background-color: #F0F4F9;
}

.quote {
    margin-right: 10px;
    font-size: small;
    border-radius: 4px;
    height: 40px;
    width: 150px;

}

.master {
    width: 40%;
}

.banner-image {
    height: 50vh;
}

.h-4 {
    font-size: 25px;

}

.skills {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
}