.content-div-SampleCourse-section h1 {
    font-weight: 700;
    font-size: 2.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.content-div-SampleCourse-section h6 {
    font-weight: 900;
    font-size: 0.75em;
}

.content-div-SampleCourse-section div {
    margin-left: 14%;
}

.content-div-SampleCourse-section {
    height: 45vh;
    background-color: #F0F4F9;
}

.info-card {
    height: 60vh;
    position: absolute;
    top: 28%;
    left: 3.8%;
}

.info-card img {
    height: 43%;
    width: 50%;
    margin: auto;

}

.info-card-img,
.course-cards {
    border-radius: 5px;
    border: 2px solid #b6b9bc;
    background-color: white;
    font-size: 14px;
}