.navbar-background {
  background-color: #F0F4F9;
}

.ul-div {
  margin-right: 19vw;
  font-weight: bold;
  font-size: small;
  color: #05254B;


}

.navbar-brand {
  margin-left: 18vw;
}

.sign-up {
  width: 15%;
  padding: 0px 10px;
  color: white;
}